@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
/* Only affects .my-div */
.my-div {
  overflow: auto; /* important to enable scrollbar */
}

.my-div::-webkit-scrollbar {
  width: 8px;
}

.my-div::-webkit-scrollbar-track {
  background: #313131;
}

.my-div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.my-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.my-div {
  scrollbar-width: none;
  scrollbar-color: #888 #1d232a;
}
:root {
  --navbar-height: 2.7rem;
  --ui-color: #1d232a;
  --ui-light: #39434c;
  --font-color: rgb(198, 198, 198);
  --button-color: #03e1f5;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Poppins", sans-serif;
}
